@media only screen and (max-width: 1439px) {
    #download-section {
        margin: 50px 100px;
    }

    #download-section .content .col {
        margin-bottom: 60px;
    }

    #download-section .content .button a {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 1023px) {
    header .logo img {
        width: 135px;
        height: 40px;
    }

    #hero-section .title > h1 {
        width: 75%;
        margin: 0 auto 30px;
    }

    #hero-section .title img {
        display: none;
    }

    #hero-section .content p {
        width: 90%;
    }

    #download-section {
        margin: 30px auto;
    }

    #download-section .row {
        grid-template-columns: repeat(2, 1fr);
    }

    #download-section .title {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 767px) {
    nav {
        display: none;
    }

    #hero-section .title > h1 {
        font-size: 35px;
        width: 90%;
    }

    #hero-section .content > p {
        font-size: 20px;
        width: 95%;
    }

    #download-section .title {
        margin-left: 30px;
    }

    #download-section .text {
        flex-direction: column;
    }

    #download-section .text h3 {
        font-size: 20px;
    }

    #download-section .row {
        grid-template-columns: repeat(1, 1fr);
    }

    #download-section .content .text {
        margin-bottom: 30px;
    }

    #download-section .content .button a {
        display: inline;
    }
}

@media only screen and (max-width: 424px) {
    #hero-section .content > p {
        width: 85%;
    }
}

@media only screen and (max-width: 374px) {
    #download-section .content .button a {
        display: flex;
    }
}